@model IEnumerable<Test_web_app.Models.Product>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Category - @product.Name - @product.Id</li>
    }
</ul>

<h2>Warunek - tylko samochody</h2>

<ul>
    @foreach (var product in Model)
    {
        if (product.Category == "Samochód")
        {
            <li>@product.Category - @product.Name - @product.Id</li>
        }
        else
        {
            <p>To nie był samochód</p>
        }
    }
</ul>